<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express Basic Site - Len Faki - About</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>

    <nav>
        <a href="/"> Home </a>
        <a href="about"> About </a>
        <a href="gallery"> Gallery </a>
        <a href="works"> Works </a>    
    </nav>

    <h1>About</h1>

    <p>About Len Faki's</p>

    <p class="short-bio"> Image result for len faki bio
        Levent Faki, also known by his stage name Len Faki, is a German DJ and producer based in Berlin. ... 
        He has appeared as a DJ in clubs such as Ostgut in Berlin, Tresor in Berlin and U60311 in Frankfurt 
        as well as at festivals such as Nature One, SonneMondSterne and Alive in Belgium. 
    </p>

    <img class="main-pic" src="img/len-main-pic.png" />

</body>
</html>