<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express Basic Site - Len Faki - Gallery</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a href="/"> Home </a>
        <a href="about"> About </a>
        <a href="gallery"> Gallery </a>
        <a href="works"> Works </a>    
    </nav>

    <h1>Gallery</h1>

    <p>Len Faki's picture's gallery </p>

    <div class="gallery">
        <img src="img/len1.png" />
        <img src="img/len2.png" />
        <img src="img/len3.png" />
        <img src="img/len4.png" />
    </div>

</body>
</html>