<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express Basic Site - Len Faki - Works</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

    <nav>
        <a href="/"> Home </a>
        <a href="about"> About </a>
        <a href="gallery"> Gallery </a>    
    </nav>

    <h1>Works</h1>

    <p>Len Faki's works</p>

    <div class="works">
        <div class="work">
            <img src="img/vynil1.png" />
            <p class="title">Len Faki</p>
            <p class="subtitle">Robot Evolution Remixes</p>
        </div>

        <div class="work">
            <img src="img/vynil2.png" />
            <p class="title">Len Faki</p>
            <p class="subtitle">Reverse Proceed Interpretations</p>
        </div>

        <div class="work">
            <img src="img/vynil3.png" />
            <p class="title">Len Faki</p>
            <p class="subtitle">LF Rmx 014 Len Faki Mixes</p>
        </div>
    </div>

</body>
</html>