body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 2em;
    width: 80%;
    margin: 0px auto;
}

h1 {
    color: cadetblue;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

nav a {
    color: cadetblue;
    font-weight: 800;
    text-decoration: underline;
}

.main-pic {
    width: 600px;
    margin: 50px auto;
    display: block;
    border-radius: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 45%;
    margin: 20px;
    border-radius: 10px;
}

.works {
    display: flex;
}

.work {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 30%;
}

.work .title {
    font-weight: bold;
}

.work .subtitle {
    font-weight: grey;
}

.work img {
    width: 100%;
}


